$enable-shadows: true;
$primary: #4a0c85;
$secondary: #2bf4a1;

h1,
h2,
h3,
h4,
a {
  font-family: 'Source Code Pro', monospace;
  color: #333333;
}

p,
span,
a {
  font-family: 'Montserrat', sans-serif;
  color: #333333;
}



.fp-slidesNav.fp-bottom {
  display: flex;
  justify-content: center;
}

#fp-nav ul li a span,
.fp-slidesNav ul li a span {
  background: #2bf4a1;
}

.section {
  background-size: cover;
}

.hidden {
  display: none;
}

.devicon {
  width: 5rem;
  height: 5rem;
}





//Bootstrap tabs
.nav-tabs .nav-link.active,
.nav-tabs .nav-item.show .nav-link {
  border-color: transparent;
  border-bottom: 1px solid $secondary;
  color: #333333;
}

.nav-tabs {
  border-bottom: 1px solid transparent;
}

.nav-item {
  a {
    color: $secondary;
  }

  .nav-link:hover,
  .nav-link:focus {
    border-color: transparent;
  }
}




// Include Bootstrap and BootstrapVue SCSS files
@import '~bootstrap/scss/bootstrap.scss';
@import '~bootstrap-vue/src/index.scss';
